@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  --background: #fffffa;
  --header: #2779a7;
  --container: #edeae5;
  --font-dark: #251101;
  --font-light: #fffffa;
  --accent: #fce181;
  --message: #9fedd7;
  --buttons: #2779a7;
  --link: #01597e;

  background-color: var(--background);
  font-family: "Outfit", Arial, sans-serif;
  color: var(--font-dark);
  margin: 0;
  padding: 0;
}

#title {
  font-size: 4rem;
  line-height: 4rem;;
  margin: 30px 0 10px 0;
}

main {
  display: flex;
  justify-content: center;
  max-width: 2000px;
  width: 100%;
  place-self: center;
  height: calc( 100vh - 160px);
}

section, #page-layout {
  height: calc( 100vh - 185px);
}

#page-layout {
  position: relative;
  background-color: var(--container);
  margin: 10px 20px 10px 10px;
  border-radius: 1rem;
  width: 100%;
  min-width: 600px;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
a:hover {
  color: #49b5c6;
}

button {
  background-color: var(--buttons);
  color: var(--font-light);
  font-family: "Outfit", Arial, sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 1.25rem;
  padding: 10px 10px;
  margin: 0 5px;
  transition: 0.15s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
button:hover {
  background-color: #49b5c6;
}
button:active {
  background-color: rgb(39, 105, 115);
}
button:disabled {
  background-color: rgb(156, 156, 156);
  cursor: unset;
}

.add-members, .see-members {
  color: var(--font-light);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(110, 86, 129);
  z-index: 3;
  right: 20px;
  top: 20px;
  padding: 20px;
  max-height: 400px;
  width: 400px;
  border-radius: 1rem;
}

.add-members h2, .see-members h2 {
  margin: 0 0 10px 0;
}

.add-members ul, .see-members ul {
  padding: 0;
  margin: 20px 0;
  width: 100%;
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
}

.see-members {
  font-size: 1.25rem;
}

.see-members li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.see-members-profile {
  height: 1.75rem;
  margin-right: 5px;
}

.see-members a {
  font-weight: 600;
  color: var(--font-light);
  font-size: 1.5rem;
  margin-right: 5px;
}
.see-members a:hover {
  color: #49b5c6;
}

.search {
  border: 1px solid gray;
  width: calc(100% - 10px);
  border-radius: 1rem;
  line-height: 2rem;
  padding-left: 10px;
  margin: 10px 0;
}