#chat-page {
  display: flex;
  max-width: 2000px;
  width: 100%;
}

.edit-group {
  line-height: 2.5rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  margin: 20px -10px;
  border-radius: 2rem;
  border: 1px solid gray;
  max-width: 500px;
  padding: 0 10px;
}

.chat-cont p {
  color: gray;
  font-style: oblique;
  margin: 20px;
}

.chat-header {
  background-color: var(--header);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h1 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px 0;
  color: var(--font-light);
}

.chat-profile {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 10px;
  background-color: gray;
}

.chat-full-name {
  margin: 0 10px;
  color: var(--message);
  font-weight: 300;
  font-size: 1.25rem;
}

.chat-btns {
  display: flex;
}

.chat-btns button {
  margin: 0 3px;
  padding: 8px;
}

.chat-btn {
  display: flex;
  width: 2rem;
}

.messages-cont {
  background-color: var(--container);
  width: 100%;
  height: calc(100vh - 320px - 2rem);
  overflow-y: auto;
}

.messages-cont ul {
  display: flex;
  flex-direction: column;

  padding: 0;
  list-style-type: none;
}

.message {
  background-color: var(--message);
  color: var(--font-dark);
  position: relative;
  display: flex;
  place-self: start;
  margin: 5px 20px;
  padding: 20px 10px;
  border-radius: 1rem;
  max-width: max(90%, 900px);
  min-width: 150px;
  font-size: 1.1rem;
  overflow-wrap: break-word;
  word-break: break-all;
}

.you {
  background-color: var(--accent);
  place-self: end;
}

.message-time {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 0.75rem;
  color: var(--link);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.message:hover .message-time,
.message-time.visible {
  opacity: 1;
}

.user-read {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.read-profile {
  height: 0.8rem;
  margin-left: 3px;
}

.message-input {
  display: flex;
  padding: 20px 15px;
}

#input-text {
  padding: 0 15px;
  width: 100%;
  line-height: 2rem;
  font-size: 1.1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: 1px solid gray;
}

#btn-send {
  padding: 10px 20px;
  border-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#btn-leave:hover {
  background-color: rgb(240, 79, 79);
}

@media (max-width: 1200px) {
  .chat-header h1 {
    font-size: 1.25rem;
  }

  .chat-btn {
    width: 1.5rem;
    margin: 0 5px;
  }

  .message {
    font-size: 1rem;
  }

  .message-time {
    font-size: 0.5rem;
  }
}

@media (max-width: 1000px) {
  #chat-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .chat-header h1 {
    font-size: 1.25rem;
  }

  .chat-btns button {
    margin: 0 2px;
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .chat-btns {
    display: flex;
    flex-direction: column;
    width: min-content;
  }

  .chat-btn {
    width: 1rem;
    margin: 0;
    padding: 0 5px;
  }
}
