.chatlist {
  background-color: var(--container);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: 10px 10px 10px 20px;
  border-radius: 1rem;
}

.chatlist h2 {
  background-color: var(--accent);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 26px 20px;
  margin: 0 0 20px 0;
}

.no-chats {
  margin: 0 20px;
}

.chats {
  min-height: calc(100vh - 320px);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.chatlist ul {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.chat {
  font-size: 1.15rem;
  color: rgb(105, 105, 105);
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.chatlist-profile {
  height: 2rem;
  margin: 0 5px 10px 0;
}

.chat-name {
  font-weight: 600;
  font-size: 1.25rem;
}

.chat-preview {
  margin: 0 0 10px 0;
  font-size: 0.9rem;
  text-wrap: nowrap;
  overflow-x: hidden;
}

.timestamp {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 0.8rem;
  text-align: end;
  z-index: 2;
  background-color: var(--container);
  padding-left: 5px;
}

@media (max-width: 1200px) {
  .chatlist {
    width: 350px;
  }

  .chatlist h2 {
    font-size: 1.25rem;
    padding: 24px;
  }

  .chatlist ul {
    margin: 0 10px;
  }

  .chat-name {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .chatlist h2 {
    font-size: 1.5rem;
    padding: 26px 20px;
  }

  .chatlist {
    max-width: unset;
    width: 100%;
    margin: 10px;
  }

  .chats {
    min-height: unset;
  }
}

@media (max-width: 600px) {
  .chatlist h2 {
    padding: 15px 20px;
  }

  .chats ul {
    margin: 0 10px;
  }

  .chat-name {
    font-size: 1.1rem;
  }

  .chat-preview {
    max-width: 400px;
  }

  .timestamp {
    width: min-content;
    min-width: 80px;
    text-align: end;
  }
}

@media (max-width: 500px) {
  .chat-preview {
    max-width: 275px;
  }
}
