
.edit-group {
  line-height: 2rem;
  font-size: 2rem;
  margin: 20px 0;
  border-radius: 2rem;
  border: 1px solid gray;
  max-width: 500px;
}

.chat-cont {
  position: relative;
  color: var(--font-light);
}

.chat-cont p {
color: gray;
font-style: oblique;
margin: 20px;
}

.chat-header {
  background-color: var(--header);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h1 {
  display: flex;
  align-items: center;
}

.chat-profile {
  height: 2.5rem;
  margin-right: 10px;
}

.chat-full-name {
  margin: 0 10px;
  color: var(--message);
  font-weight: 300;
  font-size: 1.25rem;
}

.messages-cont {
  background-color: var(--container);
  width: 100%;
  height: calc(100vh - 300px - 2rem);
  overflow-y: auto;
}

.messages-cont ul {
  display: flex;
  flex-direction: column;

  padding: 0;
  list-style-type: none;
}

.message {
  position: relative;
  background-color: var(--message);
  color: var(--font-dark);
  margin: 5px 20px;
  padding: 15px 10px;
  border-radius: 1rem;
  display: flex;
  place-self: start;
  max-width: max(90%, 900px);
  min-width: 150px;
}

.you {
  background-color: var(--accent);
  place-self: end;
}

.message-time {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 0.75rem;
  color: var(--link);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.message:hover .message-time, 
.message-time.visible {
  opacity: 1;
}

.user-read {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.read-profile {
  height: 0.8rem;
  margin-left: 3px;
}

.message-input {
  display: flex;
  padding: 20px 15px;
}

#input-text {
  padding: 0 15px;
  width: 100%;
  line-height: 2rem;
  font-size:1.1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: 1px solid gray;
}

#btn-send {
  padding: 10px 20px;
  border-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#btn-leave:hover {
  background-color: rgb(240, 79, 79);
}