header{ 
  background-color: var(--header);
  width: 100%;
}

#header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: center;
  color: var(--font-light);
  padding: 20px 0;
  margin: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.header-left {
  display: flex;
  font-size: 3.25rem;
  align-items: center;
}

.logo {
  display: flex;
}

.logo-img{
  width: 75px;
  object-fit: contain;
  margin-right: 5px;
}

.pronunciation {
  color: var(--accent);
  font-size: 1.5rem;
  margin: 0 10px;
  align-self:flex-end;
  margin-bottom: 10px;
}

.header-right {
  text-align: end;
  font-size: 2rem;
}

.header-right button {
  margin: 5px;
  padding: 5px 10px;
}

