#userlist-cont h2 {
  background-color: var(--message);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 26px 20px;
  margin: 0 0 20px 0;
}

.user-directory p {
  margin: 0 10px;
}

.user-search {
  border: 1px solid gray;
  border-radius: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 5px 20px;
  margin: 10px 20px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.user-list {
  max-height: calc(100vh - 350px - 2rem);
  overflow-y: auto;
  line-height: 2rem;
  padding: 0 20px;
}

.user {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  min-width: 300px;
  text-wrap: nowrap;
  padding: 5px;
}

.user-cont {
  display: flex;
}

.user-profile {
  height: 2rem;
  margin-right: 10px;
}

.user-chat-btn {
  padding: 5px 10px;
  margin: 0 10px;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 5px;
}

.full-name {
  font-size: 1rem;
  font-style: oblique;
  color: gray;
}

.btn-create-chat {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 1000px) {
  .user-list {
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .user-search {
    line-height: 1.25rem;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px 20px;
  }
}

@media (max-width: 600px) {
  #userlist-cont h2 {
    padding: 15px 20px;
  }

  .user {
    line-height: 1.5rem;
  }

  .user a {
    font-size: 1.25rem;
  }

  .btn-create-chat {
    top: 0.8rem;
    font-size: 0.8rem;
  }
}
